/*CSS Reset*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --off-white: #f0f0f0;
  --off-off-white: #d6d1cd;
}
/*Navigation Styles*/

.navbar-toggler {
  margin-right: 10%;
}
.offcanvas-header {
  background-color: #f0f0f0;
}
.navbar-brand .img-fluid {
  width: 50px;
  height: 50px;
}
#navbar-nav .container {
  padding: none;
}
/*Home Styles*/
#home {
  background-color: white;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 100%;
  font-family: "Karla", sans-serif;
  font-weight: 200px;
}
.row {
  display: flex;
}

#home h1 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  padding-bottom: 10px;
  margin-right: 40%;
}
.bold {
  font-family: "Playfair Display", serif;
  font-size: 200px;
  color: #dfdfdf;
  font-weight: 60px;
  margin-top: 60px;
  z-index: 1;
}

h2 {
  font-family: "Playfair Display", serif;
}
span .header {
  position: relative;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 600;
  font-family: "Karla", sans-serif;
  z-index: 1;
  display: flex;
  justify-content: center;
}

#home p {
  padding-bottom: 10px;
}
#home a {
  margin-bottom: 20px;
}
.rotate .heading {
  font-family: "Karla", Arial, sans-serif;
  /* font-size: 14px; */
  text-transform: uppercase;
  letter-spacing: 1em;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
  position: relative;
  margin: 5px;
}
.rotate .heading:after {
  position: absolute;
  top: 8px;
  content: "";
  background: #000;
  width: 40px;
  height: 1px;
  margin: 2px;
}

a {
  padding-bottom: 20px;
}
#contact .btn {
  padding-top: 20px;
}
.btn:hover {
  color: #f0f0f0;
  background-color: #000;
}
#contactbtn:hover {
  background-color: #ffffff;
  color: #000;
}
#home .container {
  /* width: 50%; */
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 20px;
}
#home img {
  width: 50%;
}
#contactbtn {
  color: #f0f0f0;
  background-color: #000;
}
/*Resume Styling*/
#resume {
  background-color: white;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  z-index: 100%;
  font-family: "Karla", sans-serif;
  font-weight: 200px;
}
.heading {
  position: relative;
  font-size: 14px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  transform: rotate(90deg);
}
.rotate .heading {
  font-family: "Karla", Arial, sans-serif;
  /* font-size: 14px; */
  text-transform: uppercase;
  letter-spacing: 1em;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
  transform-origin: left top 0;
  position: relative;
}
.rotate .heading:after {
  position: absolute;
  top: 8px;
  content: "";
  background: #000;
  width: 40px;
  height: 1px;
  margin: 2px;
}
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #000;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: #000;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #14213d;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
.resume {
  background-color: #413620;
  padding-top: 100px;
}
#resume .container {
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 20px;
}

/*Skills Styling*/
#skills {
  background-color: white;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 5% 20%;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  font-family: "Karla", sans-serif;
  font-weight: 200px;
}

#skills h2 {
  margin-bottom: 30px;
  width: fit-content;
  margin-inline: auto;
}

.skills-container .card {
  box-shadow: 1px 1px 10px #6e8387;
  text-align: center;
  padding: 10%;
}
.card > i {
  font-size: 60px;
}
.card:hover {
  color: #d6d1cd;
}
.soft-skills-container .card {
  box-shadow: 1px 1px 10px #6e8387;
  gap: 20px;
  text-align: center;
  border: none;
}
#skills .card-body {
  border-radius: 4px;
  padding: 10%;
}
/*Projects Styling*/
#projects {
  background-color: white;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  font-weight: 200px;
}

#projects img {
  width: 300px;
  height: 300px;
  aspect-ratio: 1;
  object-fit: cover;
}
.project {
  position: relative;
}
#project .container {
  border-radius: 5px;
  background-color: #d8cfaf;
}

.project-links {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: rgba(255, 255, 255, 0.088);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  opacity: 0;
  transition: all 0.3s linear;
}

#projects .img-fluid:hover {
  opacity: 0.4;
}
#projects a:hover {
  background-color: #f0f0f0;
  color: #000;
  border: none;
}
#close {
  border: none;
}
/*Testimoials Styling*/
#testimonials {
  background: linear-gradient(rgba(0, 0, 0, 0.242), rgba(0, 0, 0, 0.242)),
    url(./images/carousel3.jpg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

div.container {
  text-align: center;
  /* padding: 10px 20px; */
}
#testimonials img {
  width: 250px;
  height: 250px;
  aspect-ratio: 1;
  object-fit: cover;
}
/*Contact Styling*/
#contact {
  background-color: white;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  font-weight: 200px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #9e9885;
}

#contact .container {
  border-radius: 5px;
  background-color: #f0f0f0;
  padding: 20px;
}

/*Footer Styling*/
footer {
  text-align: center;
  color: white;
  position: static;
}
/*Media Queries*/
@media screen and (max-width: 1026px) {
  .bold {
    margin-top: 15%;
    font-size: 60px;
  }
}
@media screen and(max-width: 768px) {
  .heading {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  .container {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
@media screen and (max-width: 600px) {
  .col,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
